

body {
	background-color:#84A083;
}


div{
	background-color:#A2B8AA;
	color:#07411D;
	border:3px solid #07411D;
	height:461px;
	text-align:center;
	padding:10px;
	margin:0 auto;
	margin-bottom:10px;
}

article{
	display:inline;
	vertical-align:top;
	align:right;
	border:3px solid #07411D;
	background-color:#A2B8AA;
	color:#07411D;
	text-align:center;
	
}

article h1{
	float:right;
	background-color:#A2B8AA;
	margin-right:30px;
	margin-left:400px;
	color:#07411D;
	text-align:left;
	font-family: "Lucida Grande";
	font-size:20px;
}
div img{
	float:left;
	
}
div a{
	padding-left:30px;
	padding-right:30px;
}


div p{
	display:inline;
	background-color:#A2B8AA;
	font-size:18px;
	color:#07411D;
	text-align:center;
}

header{
	background-color:#A2B8AA;
	color:#07411D;
	border:5px solid #07411D;
	text-align:center;
	font-size:30px;
	padding:3px;
	margin:0 auto;
	margin-bottom:10px;
}

header img{
	display:inline-block;
	align:center;
}

header ul{
	list-style-type:none;
	text-decoration:none;
}


footer p{
	color:#07411D;
	text-align:center;
}


p{

}


nav{	
}

a:link {
	text-decoration:none;
	font-weight:bold;
	color: #445D4D;
}
a:visited {
  color: #445D4D;
}
a:hover {
  color: #C1C9C4;
}